node_modules
dist
.build-plugins-tmp
src-tauri/target
src-tauri/gen
src-tauri/resources/node
src-tauri/resources/dsh
src-tauri/resources/pnpm
src-tauri/resources/bundle.json
src-tauri/resources/preset-plugins/
src-tauri/resources/internal-plugins/
*.log
.DS_Store
.idea
.vscode
*.local
.env
.tmp
.temp/
release-msi-version.tmp.json

.agents/skills/
.claude/skills/
.trae/skills/

.serena

source/
.gitmodules
.tmp-alpha-inspect